{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <div class="loader">
        <svg height="60pt" viewBox="0 0 496 496" width="60pt" xmlns="http://www.w3.org/2000/svg"><path d="m488 248c0 132.546875-107.453125 240-240 240s-240-107.453125-240-240 107.453125-240 240-240 240 107.453125 240 240zm0 0" fill="#e6e9ed"/><g fill="#434a54"><path d="m304 328h-112l-24-104 80-56 80 56zm0 0"/><path d="m248 88 87.351562-63.527344c-27.078124-10.59375-56.519531-16.472656-87.351562-16.472656s-60.273438 5.878906-87.351562 16.472656zm0 0"/><path d="m96 200-32-104-.648438-1.296875c-34.558593 41.585937-55.351562 95.007813-55.351562 153.296875 0 5.246094.222656 10.433594.558594 15.59375zm0 0"/><path d="m152 376h-106.976562c28.074218 44.425781 70.273437 79.03125 120.34375 97.390625.402343.144531.792968.273437 1.191406.410156 2.386718.863281 4.800781 1.65625 7.226562 2.4375 3.335938 1.066407 6.671875 2.074219 9.984375 2.992188zm0 0"/><path d="m448 376h-104l-31.769531 103.230469c3.546875-.984375 7.074219-2.046875 10.585937-3.191407.28125-.085937.550782-.183593.824219-.277343 2.976563-.976563 5.925781-2.027344 8.878906-3.113281 49.242188-18.535157 90.746094-52.792969 118.457031-96.648438zm0 0"/><path d="m487.441406 263.59375c.335938-5.160156.558594-10.347656.558594-15.59375 0-58.449219-20.910156-112-55.640625-153.625l-.359375 1.625-32 104zm0 0"/></g><path d="m248 0c-136.753906 0-248 111.257812-248 248s111.246094 248 248 248 248-111.257812 248-248-111.246094-248-248-248zm231.992188 248.289062-70.664063-51.394531 26.222656-85.222656c27.921875 38.304687 44.449219 85.40625 44.449219 136.328125 0 .097656-.007812.191406-.007812.289062zm-132.238282 119.710938-35.058594-42.070312 22.097657-95.761719 63.839843-21.28125 80.503907 58.546875c-3.066407 36.566406-14.570313 70.757812-32.648438 100.566406zm-199.507812 0h-98.734375c-18.085938-29.808594-29.589844-64-32.640625-100.566406l80.503906-58.546875 63.839844 21.28125 22.097656 95.761719zm28.761718-140.535156 70.992188-49.695313 70.992188 49.695313-21.359376 92.535156h-99.265624zm246.464844-130.96875-29.914062 97.214844-64.269532 21.425781-73.289062-51.304688v-71.761719l80.449219-58.511718c33.75 13.976562 63.480469 35.707031 87.023437 62.9375zm-105.113281-69.558594-70.359375 51.175781-70.359375-51.167969c22.199219-7.089843 45.839844-10.945312 70.359375-10.945312s48.160156 3.855469 70.359375 10.9375zm-158.808594 6.621094 80.449219 58.511718v71.761719l-73.289062 51.304688-64.269532-21.425781-29.914062-97.214844c23.542968-27.230469 53.273437-48.960938 87.023437-62.9375zm-99.101562 78.113281 26.222656 85.222656-70.664063 51.394531c0-.097656-.007812-.191406-.007812-.289062 0-50.921875 16.527344-98.023438 44.449219-136.328125zm-.234375 272.328125h85.882812l25.542969 83.023438c-45.089844-15.765626-83.855469-45.0625-111.425781-83.023438zm129.90625 88.6875-29.199219-94.894531 34.832031-41.792969h104.503906l34.832032 41.792969-29.203125 94.894531c-18.519531 4.777344-37.910157 7.3125-57.886719 7.3125s-39.367188-2.535156-57.878906-7.3125zm134.238281-5.664062 25.542969-83.023438h85.882812c-27.570312 37.960938-66.335937 67.257812-111.425781 83.023438zm0 0"/></svg>
    </div>
    {# Header #}
    <header>
    </header>
    {# End Header #}

    <div class="clearfix"></div>

    {# Intro #}
    <div class="container intro">
        {#<div class="row matchsList">#}
        {#<div class="col">#}
        {#<h1 class="center">Automatisez vos contenu préférés et partagez les de façon personnalisées</h1>#}
        {#</div>#}
        {#</div>#}
        <div class="row mt-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div class="single-service">
                    <div class="icon">
                        <img src="http://camilmesfioui.fr/autosoccer/sablier.png" alt="icon" class="ico-small">
                    </div>
                    <h4>Consultez vos matchs préférés en direct</h4>
                    <p class="mt-3">Nous vous fournissons en direct des contenus qui vous intéressent</p>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <div class="single-service">
                    <div class="icon">
                        <img src="http://camilmesfioui.fr/autosoccer/cut.png" alt="icon"class="ico-big">
                    </div>
                    <h4>Personnalisez vos contenus</h4>
                    <p class="mt-3">Réagissez y en créant un visuel personnalisé !</p>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <div class="single-service">
                    <div class="icon">
                        <img src="http://camilmesfioui.fr/autosoccer/reseau.png" alt="icon" class="ico-big">
                    </div>
                    <h4>Partez le tout avec vos amis</h4>
                    <p>Faites partagez vos réactions à votre communaté.</p>
                </div>
            </div>
        </div>
    </div>
    {# End Intro #}

    {# Match list #}
    <section class="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="custom">Match(s) de ligue 1 à venir</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Pays - Ligue</th>
                            <th scope="col">Date</th>
                            <th scope="col">Début</th>
                            <th scope="col">Domicile</th>
                            <th scope="col" class="vs">VS</th>
                            <th scope="col">Extérieur</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for matcheItem in matches %}
                            <tr>
                                <td>{{ matcheItem.country_name ~ ' - ' ~ matcheItem.league_name }}</td>
                                <td>{{ matcheItem.match_date|date('d/m/Y') }}</td>
                                <td>{{ matcheItem.match_time }}</td>
                                <td>{{ matcheItem.match_hometeam_name }}</td>
                                <td></td>
                                <td>{{ matcheItem.match_awayteam_name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    {#FIN#}

    {#News#}
    <div class="container">
        <div class="news">
            <div class="col-md-12">
                <h1 class="custom">Les News Ligue 1</h1>
            </div>
            <div class="card-list msry-list">
                {% for news in rss.channel.item %}
                    {% if loop.index < 10 %}
                    <div class="card-content msry-item">
                        <div class="card-img">
                            <img src="{{ news.enclosure.attributes.url }}" alt="">
                        </div>
                        <div class="card-desc">
                            <h3>{{ news.title }}</h3>
                            {#<p>{{ news.description|striptags|slice(0, 120) ~ '...' }}</p>#}
                            <p>{{ news.description|striptags }}</p>
                            <a href="{{ news.link }}" target="_blank" class="btn-card">Lire</a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {#<div class="col-md-4">#}
                {#<div class="card-content">#}
                    {#<div class="card-img">#}
                        {#<img src="https://placeimg.com/380/230/animals" alt="">#}
                    {#</div>#}
                    {#<div class="card-desc">#}
                        {#<h3>Heading2</h3>#}
                        {#<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis#}
                            {#voluptas totam</p>#}
                        {#<a href="#" class="btn-card">Lire</a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-md-4">#}
                {#<div class="card-content">#}
                    {#<div class="card-img">#}
                        {#<img src="https://placeimg.com/380/230/tech" alt="">#}
                    {#</div>#}
                    {#<div class="card-desc">#}
                        {#<h3>Heading3</h3>#}
                        {#<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis#}
                            {#voluptas totam</p>#}
                        {#<a href="#" class="btn-card">Lire</a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
    {#End News#}

    {#Testimonials#}
    <section class="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="custom">Témoignages</h1>
                    <i class="fa fa-quote-right text-center"></i>
                    <p class="text-center">AutoSoccer c'est génial ! Avec je partage sans cesses mes réactions aux matchs que je regarde, en direct, avec mes amis ! <br> Extra ! <br> Essayer et vous serez conquis.</p>
                    <span class="text-center">Tom Hardy</span>
                </div>
            </div>
        </div>
    </section>
    {#END Tetimonials#}


    {# Footer #}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                </hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p class="h6">&copy 2019 - Tous droits réservés.<a class="text-green ml-2" href="#" target="_blank">AutoSoccer</a></p>
                </div>
                </hr>
            </div>
        </div>
    </footer>
    {#End Footer #}
{% endblock %}
